<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Repos</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <section class="section">
      <div class="container">
        <h3>All Repos of Account</h3>
        <div class="card-panel teal lighten-2">{{account.accountId}}</div>

        <button data-target="{{account.accountId}}" class="btn modal-trigger">
          Create Repo
        </button>
        <div id="{{account.accountId}}" class="modal modal-fixed-footer">
          <div class="modal-content">
            <form action="http://127.0.0.1:8000/items/" method="post">
              <label for="name">Name:</label>
              <input type="text" id="name" name="name" required /><br />

              <label for="description">Description:</label>
              <textarea id="description" name="description"></textarea><br />

              <label for="price">Price:</label>
              <input
                type="number"
                id="price"
                name="price"
                step="0.01"
                required
              /><br />

              <label for="tax">Tax:</label>
              <input type="number" id="tax" name="tax" step="0.01" /><br />

              <button type="submit">Submit</button>
            </form>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat"
              >Agree</a
            >
          </div>
        </div>

        <!-- Iterate through all repos !!! -->
        {% for repo in repos %}
        <div>
          Repo:
          <a href="/accounts/{{account.accountId}}/{{repo.repoId}}"
            >{{ repo.repoId }}</a
          >

          <button data-target="{{repo.repoId}}" class="btn modal-trigger">
            Repo Data
          </button>

          <!-- Modal Structure -->
          <div id="{{repo.repoId}}" class="modal modal-fixed-footer">
            <div class="modal-content">
              <form action="http://127.0.0.1:8000/items/" method="post">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required /><br />

                <label for="description">Description:</label>
                <textarea id="description" name="description"></textarea><br />

                <label for="price">Price:</label>
                <input
                  type="number"
                  id="price"
                  name="price"
                  step="0.01"
                  required
                /><br />

                <label for="tax">Tax:</label>
                <input type="number" id="tax" name="tax" step="0.01" /><br />

                <button type="submit">Submit</button>
              </form>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-close waves-effect waves-green btn-flat"
                >Agree</a
              >
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll(".modal");
        var instances = M.Modal.init(elems, {});
      });
    </script>
  </body>
</html>
